@import url(./basic-styles.css);
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 20px;

  grid-template-areas:
    "h h h h"
    "m m . s"
    "f f f f";
}

.header {
  /* grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-area: h;
}

.main {
  /* grid-column: 1 / 4;
  grid-row: 2 / 3; */
  grid-area: m;
}

.sidebar {
  /* grid-column: -2 / -1;
  grid-row: -3 / -2; */
  grid-area: s;
}

.footer {
  /* grid-column: 1 / 5;
  grid-row: 3 / 4; */
  grid-area: f;
}

.container-two {
  display: grid;
  border: 10px solid rgb(78, 43, 61);
  /*responsive layout*/
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "s h h h"
      "s m m m"
      "s f f f";
  }
}
