@import url(./basic-styles.css);
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px auto 100px;
  gap: 20px;

  grid-template-areas:
    "h h h h"
    "m m m s"
    "f f f f";
}

.header {
  /* grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-area: h;
}

.main {
  /* grid-column: 1 / 4;
  grid-row: 2 / 3; */
  grid-area: m;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 20px;
}
.grid-title-main {
  grid-column: 1 / -1;
}

.grid-item-main {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(71, 56, 56, 0.8);
}

.sidebar {
  /* grid-column: -2 / -1;
  grid-row: -3 / -2; */
  grid-area: s;
}

.footer {
  /* grid-column: 1 / 5;
  grid-row: 3 / 4; */
  grid-area: f;
}

@media (max-width: 780px) {
  .container {
    grid-template-areas:
      "s h h h"
      "s m m m"
      "s f f f";
  }
}
